.toolbar {
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  margin-bottom: 10px;
}

.language-toggle {
  font-size: 1rem;
  color: #007bff;
  text-decoration: underline;
  border: none;
  background: none;
}

.language-toggle:hover {
  color: #0056b3;
}

.toolbar .dropdown-menu {
  min-width: 150px;
}

.user-options .user-dropdown-toggle {
  display: flex;
  align-items: center;
}

.user-avatar {
  width: 32px;
  height: 32px;
  background-color: #007bff;
  border-radius: 50%;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  margin-right: 5px;
}

.user-name {
  font-size: 0.9rem;
  white-space: nowrap;
}

.user-options-username {
  margin-left: 15px;
  padding: 0;
  color: navy;
}

.user-options-delete-account {
  color: red;
}

.tags-suggestion-dropdown {
  position: absolute;
  z-index: 1000;
  width: 96%;
  max-height: 200px;
  overflow-y: auto;
  border: 0.1px solid #8a929b;
  background-color: #fff;
  box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.1);
}
